body{
    margin: 0;
    padding: 0;
    background-image: url('../assets/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.area-titulo{
}

#titulo{
}

